<div *ngIf="class">
  <h2 class= 'select-header'><span>Select a pair to add to your deck.</span></h2>
  <div class='select-card-container'>
    <div class = 'left-cards'>
      <div class="card">
        <img src="https://gamewith.akamaized.net/img/d8c54133bc04f9ce0bc2d492c1801618.jpg"/>
        <input type ="text" placeholder="Card 1"/>
      </div>
      <div class="card">
        <img src="https://gamewith.akamaized.net/img/d8c54133bc04f9ce0bc2d492c1801618.jpg"/>
        <input type ="text" placeholder="Card 2"/>
      </div>
    </div>
    <div class='class-image-container'>
      <img src="https://s3.amazonaws.com/taketwohelper/{{className}}.png" alt="" />
    </div>
    <div class= 'right-cards'>
      <div class="card">
        <img src="https://gamewith.akamaized.net/img/d8c54133bc04f9ce0bc2d492c1801618.jpg"/>
        <input type = "text" placeholder="Card 3"/>
      </div>
      <div class="card">
        <img src="https://gamewith.akamaized.net/img/d8c54133bc04f9ce0bc2d492c1801618.jpg"/>
        <input type = "text" placeholder="Card 4"/>
      </div>
    </div>
  </div>
</div>
