html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.app{
  width: 100vw;
  height: 100vh;
	position: relative;
}

.app:before{
	display: block;
	content: "";
	position: fixed;
	z-index: -2;
	background-image: url('./assets/background_Lake.png');
  background-size: cover;
	width: 100vw;
	height: 100vh;
	filter: brightness(50%);
}

.app-title {
  font-size: 36px;
  color: white;
}

.app-title > div {
  border-bottom: 2px solid #e1d09a;
  width: 300px;
  text-indent: 8px;
}

.class-list{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
}

.header{
	display: flex;
	justify-content: flex-start;
	padding-top: 15px;
}

.back-button{
	display: flex;
	justify-content: flex-start;
}

.back-button:hover{
	cursor: pointer;
}

.back-left{
	width:0;
	height:0;
	border-top: 21px solid transparent;
	border-right: 25px solid #86a660;
	border-bottom: 21px solid transparent;
}


.back-middle{
	background-color: #86a660;
	color: white;
	padding: 10px;
	border: 1px solid #666256;
	border-left: none;
	border-right: none;
	padding-left: 25px;
	padding-top: 8px;
	padding-bottom: 5px;
	font-size: 20px;
}

.back-right{
	margin-top: 16px;
	transform: rotate(90deg);
	border-bottom: 11px solid #86a660;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	height: 0px;
	width: 29px;
	margin-left: -18px;
}


.overlay{
  z-index: 100;
}


.class-list li:hover{
  cursor: pointer;
  filter: brightness(70%);
}

.select-header{
	position: relative;
  font-size: 24px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 30px;
  height: 40px;
  border-top: 1px solid rgb(153,129,0);
  border-bottom: 1px solid rgb(153,129,0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable{
	cursor: pointer;
}
