<div class='app'>
  <h1>
    <div>Take Two</div>
  </h1>

  <h2>Select a class</h2>
  <ul class= "class-list">
    <li><img src='https://shadowverse-portal.com/public/assets/image/top/en/classes/6/chara.png?20170207a'/></li>
    <li><img src='https://shadowverse-portal.com/public/assets/image/top/en/classes/4/chara.png?20170207a'/></li>
    <li><img src='https://shadowverse-portal.com/public/assets/image/top/en/classes/1/chara.png?20170207a'/></li>
    <li><img src='https://shadowverse-portal.com/public/assets/image/top/en/classes/7/chara.png?20170207a'/></li>
    <li><img src='https://shadowverse-portal.com/public/assets/image/top/en/classes/3/chara.png?20170207a'/></li>
    <li><img src='https://shadowverse-portal.com/public/assets/image/top/en/classes/5/chara.png?20170207a'/></li>
    <li><img src='https://shadowverse-portal.com/public/assets/image/top/en/classes/2/chara.png?20170207a'/></li>
  </ul>
</div>
