<div class='app'>
  <div class="header">
    <div class="back-button" *ngIf="class" (click)="resetClass()">
      <div class="back-left"></div>
      <div class="back-middle">Back</div>
      <div class="back-right"></div>
    </div>
    <h1 class= 'app-title'>
      <div>Take Two</div>
    </h1>
  </div>

  <app-select-class
    (getClass)="getClass($event)"
    *ngIf="!class">
  </app-select-class>

  <app-card-comparator [class] ="class" [className] = "className">
  </app-card-comparator>

</div>
